@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    --webkit-font-smoothing: antialiased;
    
}

body {
    background: #EDF2F7;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}